
#container {
    background-color: gray;
    margin: 0;
}

a {
    text-decoration: none;
}
#hero {
    background-image: url(assets/backgrounds/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}


#about {
    background-image: url(assets/backgrounds/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#customer {
    background-color: pink;
}