
#container {
    background-color: gray;
    margin: 0;
}

a {
    text-decoration: none;
}
#hero {
    background-image: url(assets/backgrounds/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
#mouse_click {
    padding-top: 300px;
}

#products {
    background-color: white;
}



#about {
    background-image: url(assets/backgrounds/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
#aboutus_text {
    padding: 10px;
    border:red;
    border-width: 3px;
    border-style: outset;
}

#customer {
    background-color: pink;
    height: 100px;
    font-size: 30px;
}